name: Build QMK firmware
on: [push, workflow_dispatch]

jobs:
  build:
    name: QMK Userspace build
    runs-on: ubuntu-latest
    container: ghcr.io/qmk/qmk_cli:latest
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        keyboard: [corne, klor]
        split: [left, right]

    steps:
    - name: Checkout QMK
      uses: actions/checkout@v4
      with:
        path: qmk_firmware
        repository: qmk/qmk_firmware
        ref: develop
        submodules: true

    - name: Checkout userspace
      uses: actions/checkout@v4
      with:
        path: users/${{ github.actor }}
        persist-credentials: false

    - name: Checkout custom boards
      uses: actions/checkout@v3
      with:
        repository: ${{ github.actor }}/keyboards
        path: custom_keyboards

    - name: Copy custom boards
      run: |
        cp -r custom_keyboards/* qmk_firmware/keyboards/

    - name: Install QMK CLI
      run: |
        echo '$PATH'
        echo $PATH | tr ':' '\n' | sed -e 's/^/ - /g'
        pip install -r qmk_firmware/requirements.txt

    - name: Configure QMK CLI
      run: |
        qmk config userspace_compile.parallel=$(nproc)
        qmk config user.qmk_home=$GITHUB_WORKSPACE/qmk_firmware
        qmk config user.overlay_dir=$GITHUB_WORKSPACE

    - name: Setup build target
      run: |
        wget https://github.com/qmk/qmk_userspace/raw/main/qmk.json
        qmk userspace-add $GITHUB_WORKSPACE/users/${{ github.actor }}/keymaps/${{ matrix.keyboard }}.json

    - name: Validate userspace
      run: |
        qmk userspace-doctor

    #- name: Compile
    #  run: qmk -v userspace-compile -e SPLIT=${{ matrix.split }}

    - name: Compile
      working-directory: users/${{ github.actor }}/keymaps/
      run: qmk compile -j $(nproc) ${{ matrix.keyboard }}.json -e SPLIT=${{ matrix.split }}

    - name: Calculate firmware size
      working-directory: qmk_firmware/.build/
      run: avr-size $(ls *.tmp) | sed 's/\(.*\)\.tmp/\1/'

    - name: Archive firmware
      uses: actions/upload-artifact@main
      with:
        retention-days: 3
        name: ${{ matrix.keyboard }}_${{ matrix.split }}
        path: |
          *.hex
          *.bin

          *.uf2
